<!DOCTYPE html>
<html>
  <head>
    <title>Tu Título</title>
    <!-- Cualquier recurso o estilo que necesites -->
  </head>
  <body>
    {{{body}}}
    <!-- Cualquier script o contenido común -->
  </body>
</html>
