<div>
    <h2>Add a Product</h2>
        <button><a href="/home">Home</a></button>
        <br>
        <br>
            <div>
                <label for="title">Title</label><br>
                <input type="text" name="title" id="title" placeholder="Enter title" required><br><br>
            </div>
            <div>
                <label for="description">Description</label><br>
                <input type="text" name="description" id="description" placeholder="Enter description" required><br><br>
            </div>
            <div>
                <label for="code">Product code</label><br>
                <input type="text" name="code" id="code" placeholder="Enter a product code" required><br><br>
            </div>
            <div>
                <label for="price">Price</label><br>
                <input type="number" name="price" id="price" placeholder="Enter price" required><br><br>
            </div>
            <div>
                <label for="status">Status (true or false)</label><br>
                <input type="boolean" name="status" id="status" placeholder="Enter status" required><br><br>
            </div>
            <div>
                <label for="stock">Stock</label><br>
                <input type="number" name="stock" id="stock" placeholder="Enter stock" required><br><br>
            </div>
            <div>
                <label for="category">Category</label><br>
                <input type="text" name="category" id="category" placeholder="Enter category" required><br><br>
            </div>
            <div>
                <label for="thumbnail">Thumbnail (optional)</label><br>
                <input type="text" name="thumbnail" id="thumbnail" placeholder="Enter thumbnail"><br><br>
            </div>
            <div>
                <button type="button" id="addProductBtn">Add</button>
            </div>
</div>

<script src="/js/addproduct.js"></script>