<div>
    <h1>Recover Password</h1>
        <br>
        <br>
        <label for="passwordRecover">New Password</label><br>
        <input type="password" name="passwordRecover" id="PasswordRecover">
        <br>
        <br>
        <label for="repeatPassword">Repeat new Password</label><br>
        <input type="password" name="repeatPassword" id="passwordRecoverRepeat">
        <br>
        <br>
        <br>
        <button type="button" id="btnRecoverPsw">Update Password</button>
</div>

<script src="/js/recovercomplete.js"></script>