<div>
    <h1>Register</h1>
    <button><a href="/login">Login</a></button>
    <br>
    <br>
    <div>
        <label for="firstName">First Name</label><br>    
        <input type="text" name="firstName" id="firstName" placeholder="Enter first name" required><br><br>
    </div>    
    <div>
        <label for="lastName">Last Name</label><br>
        <input type="text" name="lastName" id="lastName" placeholder="Enter last name" required><br><br>
    </div>
    <div>
        <label for="email">Email</label><br>
        <input type="email" name="email" id="email" placeholder="Enter email" required><br><br>
    </div>
    <div>
        <label for="phone">Phone (includes your country code) (optional)</label><br>
        <input type="number" name="phone" id="phone" placeholder="Example: 541159546824"><br><br>
    </div>
    <div>
        <label for="age">Age</label><br>
        <input type="number" name="age" id="age" placeholder="Enter age" required><br><br>
    </div>
    <div>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" placeholder="Enter password" required><br><br>
    </div>
    <div>
        <button type="button" id="registerBtn">Register</button>
    </div>
</div>

<script src="/js/registerUser.js"></script>