<div>
    <h2>Update a Product</h2>
        <button><a href="/home">Home</a></button>
        <br>
        <br>
            <div>
                <label for="productId">Product ID</label><br>
                <input type="text" name="productId" id="updateproductId" placeholder="Enter Id from a product" required><br><br>
            </div>
            <br>
            <br>
            <h4>Enter the value of fields to update</h4>
            <div>
                <label for="title">Title</label><br>
                <input type="text" name="title" id="updatetitle" placeholder="Enter title"><br><br>
            </div>
            <div>
                <label for="description">Description</label><br>
                <input type="text" name="description" id="updatedescription" placeholder="Enter description"><br><br>
            </div>
            <div>
                <label for="code">Product code</label><br>
                <input type="text" name="code" id="updatecode" placeholder="Enter a product code"><br><br>
            </div>
            <div>
                <label for="price">Price</label><br>
                <input type="number" name="price" id="updateprice" placeholder="Enter price"><br><br>
            </div>
            <div>
                <label for="status">Status</label><br>
                <input type="boolean" name="status" id="updatestatus" placeholder="Enter status"><br><br>
            </div>
            <div>
                <label for="stock">Stock</label><br>
                <input type="number" name="stock" id="updatestock" placeholder="Enter stock"><br><br>
            </div>
            <div>
                <label for="category">Category</label><br>
                <input type="text" name="category" id="updatecategory" placeholder="Enter category"><br><br>
            </div>
            <div>
                <label for="thumbnail">Thumbnail</label><br>
                <input type="text" name="thumbnail" id="updatethumbnail" placeholder="Enter thumbnail"><br><br>
            </div>
            <div>
                <button type="button" id="updateProductBtn">Update</button>
            </div>
</div>

<script src="/js/updateproduct.js"></script>